@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css);


/* RESPONSIVE NAV-BAR STYLING */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins';
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
    
}



/* navbar styling */
nav{
    position: fixed;
    width: 100%;
    padding: 40px 0 0 0;
    z-index: 998;
    transition: all 0.3s ease;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav.sticky{
    background: pink;
    padding: 13px 0;
}
nav .navbar{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.logo a{
    font-weight: 700;
    font-size: 35px;
    color: pink;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav.sticky .navbar .logo a{
    color: black;
}
 .menu{
    display: flex;
    position: relative;
}
.menu li{
    list-style: none;
    margin: 0 8px;
}
.menu a{
    font-size: 18px;
    font-weight: 500;
    color: pink;
    padding: 6px 0;
    transition: all 0.4s ease;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 .menu a:hover{
    color: white;
}
nav.sticky .menu a{
    color: paleturquoise;
}
nav.sticky .menu a:hover{
    color:palegreen;
}
.navbar .media-icons a{
    color: pink;
    font-size: 18px;
    margin: 0 6px;
}
nav.sticky .media-icons a{
color: palegreen;
}

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: pink;
        margin: 6px;
    }

    .nav-bar {
        height: 450px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        /* background:rgb(207, 137, 207); */
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 450px;
        opacity: 1;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }
}
@media screen and (max-width:600px){
    .head{
        text-align: center;
        font-size: 36px;
    }
    .text-two{
        color: black;
        font-size: 5px;
    }
    .text-four{
        color: black;
        font-size: 20px;
    }
    
    
}
.word{
    transform: translateY(3.8rem);
    opacity: 0;
}

.animate{
    opacity: 1;
    transform: translateY(0);

} 
/* home styling */
.home{
    height: 100vh;
    width: 100%;
    background : url('./images/FDTW9588.PNG') ;
    background-size:cover;
    background-attachment: fixed;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}


.home-content{
    width: 90%;
    height: 100%;
    margin: auto;
   display: flex;
  flex-direction: column;
  justify-content: center;
color: pink; 
}

.text-two{
    color: pink;
    font-size: 88px;
    font-weight: 600;
    margin-left: -3px;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;


    white-space: nowrap;
    animation: typing 3,5s steps(40, end),blink-carat .75 step-end;
}

.text-three{
    font-size: 90px;
    color: palevioletred;
    margin: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.text-one{
    color: palevioletred;
    font-size: 65px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.text-four{
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

.button{
    margin: 12px 0;
}
.button button{
    outline: none;
    padding: 8px 15px;
     border-radius: 6px;
     font-size: 1rem;
     background: grey;
     font-weight: 400;
    color: pink;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease;
} 

.button button:hover{
    border-color: pink;
    background-color: black;
    color: pink;
}


/* about styling */
section{
    padding: 40px;
    background-color:black;
    
}
section .content{
     width: 80%;
     margin: 40px auto;
}
.about .about-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section .title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
section .title span{
    color: pink;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}
.title span::before,
section .title span::after{
    content:'' ;
    position: absolute;
    height: 3px;
    width: 100%;
    background:palevioletred;
    left: 0;
    bottom: 0;
}
section .title span::after{
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}
.about .about-details .left{
    width: 45%;
}
.about .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 40px;
   
}
.about-details .right{
    width: 55%;
    font-family: Georgia, 'Times New Roman', Times, serif;
   color: white;

}

/* education styling start */
.education{
    padding: 40px;
    margin: 0;
    padding: 1%;
    box-sizing: border-box;
    background-color:gray;
    
}
section .content{
     width: 80%;
     margin: 40px auto;
}
.education .education-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section .title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
section .title span{
    color: pink;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}
.title span::before,
section .title span::after{
    content:'' ;
    position: absolute;
    height: 3px;
    width: 100%;
    background:palevioletred;
    left: 0;
    bottom: 0;
}
section .title span::after{
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}
.education .education-details .left{
    width: 45%;
}
.education .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
    border: 9px solid palevioletred;
   
}
.education-details .right{
    width: 55%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: white;
}
.education-details .right h1{
    font-size: x-large;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* skills styling start */

.skills .content{
    padding: 20px 0;
}

.skills .skills-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-details .text{
    width: 50%;
    color: plum;
}

.skills-details .text p{
    color: plum;
    font-weight: 400;
    text-align: justify;
}

.skills .skills-details .experience{
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.skills-details .experience .num{
    font-size: 4rem;
}

.skills-details .experience .exp{
    margin-left: 15px;
    font-size: 18px;
    margin: 0 6px;
}

.skills-details .boxes{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.skills-details .box{
    width: calc(100% / 3 - 20px);
    margin: 20px 0;
}

.skills-details .boxes .topic{
    font-size: 2.3rem;
    color: pink;
}

.skills-details .boxes .per{
    font-size: 4rem;
    color: pink;
    font-style: italic;
    font-weight: 600;
}

/* services styling start */


.services .title span::before,
.services .title span::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color:pink;
    left: 0;
    bottom: 0;
}

.services .title span::after {
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.services{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    background-color: #333;
}

.services .content{
    padding: 10px 0;
}

.services .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.services .boxes .box{
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    cursor: default;
    transition: all 0.4s ease;
    background-color: grey;
}

.services .boxes .box .topic{
    font-size: 2rem;
    color: palevioletred;
}
.services .boxes .box .p{
    color: black;
}
.services .boxes .box:hover{
    background-color:black;
    color: #fff;
}

.services .boxes .box .icon{
    height: 50px;
    width: 50px;
    background-color: pink;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 1.2rem;
    color: #f0f8ff;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
}

.services .boxes .box:hover .icon{
    background-color: #fff;
    color: #333;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
    color: #fff;
    transition: all 0.4s ease;
}

/* contact page styling */
.note{
    font-weight: 800;
    text-align: left;
    font-size: larger;
}

.email-text{
    font-weight: 800;
    text-align: left;
}
.text-2{
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    color:palevioletred;
}
.text-three{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

.contact{
    
    background : url('./images/FDTW9588.PNG') ;
    background-size:cover;
    background-attachment: fixed;
    font-family:'Ubuntu', sans-serif ;
}

.nam{
    font-size: large;
    border-radius: 8px;
    padding: 6px;
    border: 4px solid pink;
}

.em{
    font-size: larger;
    border-radius: 8px;
    padding: 6px;
    border: 4px solid pink;
}
.sub{
    font-size: large;
    border-radius: 8px;
    padding: 6px;
    border: 4px solid pink;
}

.mes{
    font-size: x-large;
    border-radius: 8px;
    padding: 6px;
    border: 4px solid pink;
}
.ss{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:plum;
}

.button{
    padding: 8px 12px ;
    font-size: 14px;
    border: 1px ;
    border-radius: 4px;
}

footer {
    background-color:black;
    color: pink;
    text-align: center;
    padding: 20px;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons a {
    text-decoration: none;
    color:pink;
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: palevioletred; 
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons a {
    text-decoration: none;
    color: pink;
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #55acee;
}

@media screen and (max-width: 600px) {
    .social-icons li {
        margin-right: 5px;
    }

    .social-icons a {
        font-size: 18px;
    }
}





@media screen and (max-width: 768px) {
    .about-details {
        flex-direction: column;
    }

    .right {
        margin-left: 0;
        flex: 0 0 100%;
    }
}

@media screen and (max-width: 768px) {
    .education-details {
        flex-direction: column;
    }

    .right {
        margin-left: 0;
        flex: 0 0 100%;
    }
}


@media screen and (max-width: 768px) {
    .skills-details {
        flex-direction: column;
    }

    .text,
    .boxes {
        flex: 0 0 100%;
    }

    .boxes .box {
        flex: 0 0 100%;
    }
}